[loggers]
keys=root,ts_engine

[handlers]
keys=fileHandler

[formatters]
keys=myFormatter

[logger_root]
level=DEBUG
handlers=fileHandler

[logger_ts_engine]
level=INFO
handlers=fileHandler
qualname=ts_engine

[logger_warning]
level=DEBUG
handlers=fileHandler

[handler_warningHandler]
class=py.warnings
formatter=myFormatter
args=("UFE.log")

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=myFormatter
args=(sys.stdout,)

[handler_fileHandler]
level=DEBUG
class=handlers.RotatingFileHandler
formatter=myFormatter
args=("UFE.log",)

[formatter_myFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
